html,body{
    margin-top: 40px;
    overflow: hidden;
    
}

.box {
    border: 3px solid black;
    border-radius: 20px;
    padding: 60px;
    background-color: aliceblue;
}
.title {
    color: rgb(240, 161, 4);
    font-size: 50px;
    word-spacing: 10px;

}
 #count {
    font-size: 50px;
    
 }

 button {
    background-color: rgb(166, 238, 240);
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px 40px;
    margin-left: 1%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

